html{
    font-size: 14px;
}


.container {
    width: 840px;
    margin: 50px auto;
}

.tittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tittle_left{
    display: inline;
    font-size: 22px;
    margin: 0;
}

.name_singer{
    text-decoration: none;
}
.name_singer:visited {
    color: black;
}
.name_singer:hover {
    color: #2daaed;
}

.tittle_right{
    display: flex;
    align-items: center;
    font-size: 22px;
    text-align: end;
}

.icon{
    width: 28px;
    height: 32px;
}

.image{
    width: 80px;
    height: 80px;
}

.audio{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 155px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
    border-radius: 6px;
    margin: 10px 0 12px 0;
}

.audio_header{
    width: 100%;
    position: absolute0;
    top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
}

.description {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 22px;
  }

.audio_file {
position: absolute;
bottom: 0;
width: 100%;
background-color: aliceblue;
}

.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.container1_left{
    display: flex;
    align-items: center;
}

.provider_image{
    width: 52px;
    height: auto;
    border: 2px solid #cccccc;
    border-radius: 50%;
}

.provider{
    margin-left: 8px;
    color: #333333;
    font-size: 14px;
}

.provider_title, .provider_name {
    margin: 0 auto;
}

.provider_name{
    font-weight: 700;
    color: #0689ba;
    text-overflow: ellipsis;
    overflow: hidden;
    /* white-space: nowrap; */
}

.container1_right{
    display: flex;
    align-items: center;
}

.control{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.control_icon{
    width: 24px;
    height: auto;
}

.control_title{
    font-size: 16px;
    margin-left: 6px;
    transition: 0.2s ease-in;
}

.control_title:hover {
    color: #0689ba;
    cursor: pointer;
}

.lyric_description{
    border: 1px solid #e3e3e3;
    padding: 20px;
}

.description_header{
    display: flex;
    justify-content: space-between;
}

.header_info{}

.title_name{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.title_created{
    margin-top: 2px;
    font-size: 14px;
    color: #9a9a9a;
}

.title_lyric{
    font-size: 14px;
    color: #9a9a9a;
}

.title_lyric--link{
    color: #2daaed;
    text-decoration: none;
}

.title_lyric--link:hover {
    text-decoration: underline;
}

.header_btn{
    width: 104px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 4px;
}

.btn_icon {
    margin-right: 4px;
  }

.icon--xs {
    width: 16px;
    height: auto;
  }

.description_linebreak {
    border-bottom: 1px solid #dbdbdb;
    padding: 0px 0px 5px 0px;
    margin-bottom: 10px;
  }

.lyric_content > div {
    border-bottom: 1px solid #dbdbdb;
    margin-top: -2px;
    margin-bottom: 10px;
    opacity: 0.5;
}